.ControlProduct{
    grid-area: control;
    display: grid;
    align-items: end;
    grid-template-columns: 1fr auto;
    padding: 1em;
    gap: 1em;
    font-weight: 600;
}
.details{
    cursor: pointer;
    font-size: 1.25rem;
    padding: .25em .5em;
    border: 1px solid currentColor;
}
.button{
    font-size: 1.25rem;
    cursor: pointer;
    border: 1px solid currentColor;
    color: var(--main-clr);
    padding: .25em;
}
.button:hover, .button:focus{
    background-color: var(--main-clr);
    color: var(--bg-clr);
}
.details:hover, .details:focus{
    background-color: var(--font-clr);
    color: var(--bg-clr);
}