.ControlProduct{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-inline: 1em;
}
.details{
    cursor: pointer;
    margin-block: 1em .5em;
}
.button{
    cursor: pointer;
    margin-block: .5em 1em;
    background-color: var(--main-clr);
    border: 1px solid #ccc;
}