.Product {
	display: grid;
	grid-template-areas:
		'image'
		'name'
        'rating'
        'price'
		'control';
	border-radius: 1rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	grid-template-rows: 60% min-content min-content min-content auto;
	transition: transform .2s ease;
}
.Product:hover {
	transform: scale(1.1);
}
.image {
	grid-area: image;
	object-fit: cover;
	object-position: top center;
	height: 100%;
	width: 100%;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.name {
    font-size: 1.25rem;
	font-style: italic;
    padding: .25em .5em 0em .5em;
	grid-area: name;
}

.price {
	grid-area: price;
	font-size: 1.5rem;
	font-weight: 600;
    padding-inline: .5em;
}
.rating {
    grid-area: rating;
	font-size: 1rem;
    padding-inline: .25em;
	font-weight: 300;
}
.star {
	display: inline-block;
	height: 1rem;
}
