.About{
    display: grid;
    grid-template-rows: auto auto 1fr min-content;
    padding: 1em;
}
.introduction{
    font-size: 5rem;
    font-style: italic;
}
.para{
    font-size: 2rem;
    font-weight: 300;
}
.github{
    color: var(--main-clr);
    font-size: 2rem;
    font-weight: 600;
}
.siteImages{
    display: flex;
    flex-wrap: wrap;
    gap: 7em;
    padding: 0em 7em;
    text-align: center;
    align-content: center;
}
.siteImage{
    flex: 1;
    display: grid;
    grid-template-rows: min-content 1fr;
    justify-items: stretch;
    border: 1px solid var(--main-clr);
    cursor: pointer;
    transition: flex .2s ease;
}
.siteImage:hover{
    flex: 1.5;
}
.img{
    object-fit: cover;
    height: 100%;
}
.thanks{
    text-align: center;
}