.thanks{
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    border-bottom: .25rem solid var(--main-clr);
}
.itemList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
    grid-auto-rows: 30vh;
    padding: 1em;
}
.item{
    border-bottom:1px solid currentColor;
    display: grid;
    grid-template-areas: 'image name'
    'image price'
    'image amount';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 1em;
    padding: .5em;
}
.itemImage{
    grid-area: image;
    height: 100%;
    object-fit: contain;
    padding-bottom: 1em;
}
.itemName{
    grid-area: name;
    font-size: 2em;
    text-align: end;
    font-weight: 300;
    font-style: italic;
}
.itemPrice{
    grid-area: price;
    text-align: end;
    font-size: 1.5em;
    padding-bottom: 1em;
    font-weight: 600;
}
.itemAmount{
    grid-area: amount;
    text-align: end;
    padding-bottom: 1em;
    font-weight: 400;
}