.home {
	height: 100%;
	display: grid;
	padding-inline: 2em;
	grid-template-areas:
		'a a'
		'b b'
		'c d';
	justify-content: start;
	align-content: center;
	align-items: center;
	font-weight: 100;
	font-style: italic;
}
.welcome {
	font-size: 4rem;
	animation: slideIn 1s cubic-bezier(0, 1, 0, 1);
	grid-area: a;
}
.siteName {
	font-size: 12rem;
	font-weight: 300;
	animation: slideIn 1s cubic-bezier(0, 0, 0, 1.1);
	grid-area: b;
}
.credit {
	font-size: 3rem;
	font-style: normal;
	animation: slideIn 1s cubic-bezier(0, 1, 0, 1);
	grid-area: c;

}
.shopLink {
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
	padding: 0.25em 1em;
	margin-left: 1em;
	color: var(--main-clr);
	border: 2px solid var(--main-clr);
	border-radius: 3rem;
	grid-area: d;
	animation: slideInLink 1s cubic-bezier(0, 1, 0, 1);
}
.shopLink:hover {
	color: var(--bg-clr);
	background-color: var(--main-clr);
}
@keyframes slideIn {
	from {
		transform: translateX(-500%);
	}
	to {
		transform: translateX(0%);
	}
}
@keyframes slideInLink {
	from {
		transform: translateX(500%);
	}
	to {
		transform: translateX(0%);
	}
}
