.Item{
    border-bottom:1px solid currentColor;
    display: grid;
    grid-template-areas: 'image name'
    'image price'
    'control control';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 1em;
    padding: .5em;
}
.itemImage{
    grid-area: image;
    height: 100%;
    object-fit: contain;
    padding-bottom: 1em;
}
.itemName{
    grid-area: name;
    text-align: end;
    font-weight: 100;
    font-style: italic;
}
.itemPrice{
    grid-area: price;
    text-align: end;
    padding-bottom: 1em;
    font-weight: 600;
}