nav {
	width: 100%;
	display: grid;
	grid-template-areas: 'home shop search search search about cart';
	justify-items: stretch;
	align-items: stretch;
	font-size: 1.5rem;
	font-weight: 100;
	background-color: var(--font-clr);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
}
.NavLink {
	transition: color .2s, background-color .2s;
	padding-block: 0.5em;
	font-style: italic;
	text-align: center;
	color: var(--bg-clr);
}
.home{
	grid-area: home;
}
.shop{
	grid-area: shop;
}
.about{
	grid-area: about;
}
@media (max-width: 700px) {
	nav {
		grid-template-areas: 'home about'
		'shop cart'
		'search search'
	}
}
