.Search {
	flex: 5;
}
input[type='search'] {
	width: 50%;
	height: 100%;
	border: none;
	font-size: 2rem;
	padding: 0.25em 0.5em;
	appearance: none;
	outline: none;
	transition: width 0.2s ease;
}
input[type='search']:focus {
	width: 100%;
	background-color: var(--bg-clr);
	color: var(--font-clr);
	box-shadow: inset 0px -2px 0px 0px currentColor;
}
