.categoryList {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
	padding: 1em;
    flex: 8;
}
.button{
    position: absolute;
    bottom: .25em;
    right: .5em;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    align-content: center;
    color: var(--main-clr);
    cursor: pointer;
}