.categoryList {
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    align-items: center;
    gap: 1em;
	padding: 1em;
    flex: 8;
}
.button{
    position: absolute;
    bottom: .25em;
    right: .5em;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    align-content: center;
    color: var(--main-clr);
    cursor: pointer;
}