.categoryLabel {
	border: .1rem solid currentColor;
	border-radius: 0.25rem;
	transition: background-color .2s ease;
    padding: .5em;
    cursor: pointer;
}
.category:checked + label{
	background-color: var(--main-clr);
	color: var(--bg-clr);
}
.category{
	appearance: none;
}