.categoryLabel {
	border: 0.1rem solid currentColor;
	border-radius: 0.5rem;
	transition: background-color 0.2s ease;
	padding: 0.125em 0.5em;
	cursor: pointer;
}
.category:checked + label {
	background-color: var(--main-clr);
	color: var(--bg-clr);
}
.category {
	appearance: none;
}
