.CartToggle{
    height: 100%;
    width: 100%;
    background-color: var(--main-clr);
    background-image: url('/public/cart.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    cursor: pointer;
}