.Cart{
    grid-template-rows: min-content 80% auto;
    animation: slideIn .2s ease;
}

@keyframes slideIn {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
.slideOut{
    animation: slideOut .2s ease;
}
@keyframes slideOut {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}