:root {
	--dark-clr: hsl(0, 0%, 0%);
	--light-clr: hsl(0, 100%, 100%);
	--main-clr: hsl(50, 50%, 50%);
	--bg-clr: var(--dark-clr);
	--font-clr: var(--light-clr);
}
.lightMode {
	--bg-clr: var(--light-clr);
	--font-clr: var(--dark-clr);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
input,
textarea,
button,
select {
	font: inherit;
}
img,
svg {
	max-width: 100%;
	display: block;
}
html,
body {
	height: 100%;
}
/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background-color: var(--bg-clr);
	color: var(--font-clr);
	-webkit-font-smoothing: antialiased;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--font-clr);
}
#root {
	isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
