.Details {
	display: flex;
    flex-wrap: wrap;
    gap: 4em;
    padding: 3em;
	
}
.productDetails{
	flex: 1;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content 1fr min-content;
}
.title {
	font-size: 5rem;
	font-weight: 100;
	font-style: italic;
}
.price {
	font-size: 3rem;
	font-weight: 400;
}
.discount {
	text-decoration: line-through;
	color: var(--main-clr);
	font-size: 2rem;
}
.rating {
	font-size: 1.5rem;
}
.star {
	display: inline-block;
	height: 1rem;
}
.stock {
	font-size: 1.5rem;
}
.description {
    font-size: 1.5rem;
	padding: 2em 0em;
}
.addButton {
	font-size: 2rem;
	font-weight: 600;
	padding: 0.25em 1em;
	justify-self: end;
	color: var(--main-clr);
	border: 2px solid var(--main-clr);
}
.addButton:hover {
	background-color: var(--main-clr);
	color: var(--bg-clr);
}
