.ProductGallery{
    flex: 1;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 1em;
}
.bigImage{
    grid-column: 1 / -1;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.imageBtn{
    cursor: pointer;
    border: none;
}
.image{
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
